*{
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(to right, #2b416a, #0c121e 40%);
  /* background-image: url('./components/Images/iPhones'); */
  display: flex;
  height: 100vh;
  width: 100vh;
  flex-direction: column;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  text-decoration: none;
  color: #f6f5f5;
}

.Navbar{
  width: 100vw;
  height: auto;
  padding: 25px;
  position: fixed;
  top: 0;
  right: 10px;
  margin-right: 20px;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end; 
  align-items: center;
  cursor: pointer;
}

.Navbar ul{
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.Navbar ul li{
  list-style-type: none;
  font-size: 20px;
  color: #f6f5f5;
  width: 125px;
}

a:active{
  font-weight: bold;
}

.bold{
  font-weight: bold;
}
.image{
  height: 450px;
  width: 850px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.landing_page_content {
  width: 400px;
  height: auto;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  row-gap: 17px;
  padding: 20px;
}

h1 {
  font-size: 50px;
  color: #f6f5f5;
}

p {
  color: #f6f5f5;
}

.solid_btn{
  width: 120px;
  height: auto;
  padding: 10px 15px;
  background-color: #1758fc;
  border-radius: 7px;
  color: #f6f5f5;
  font-weight: 600;
  border-style: none;
}

.outline_btn{
  width: 120px;
  height: auto;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 7px;
  color: #f6f5f5;
  font-weight: 600;
  border: #f6f5f5 solid 1px;
  margin-left: 20px;
}